:root {
  /* background-color: #1c233a; */
  background-color: rgb(197, 194, 194);
  overflow: scroll;
}

.header-name {
  color: white;
  font-size: 1.7rem;
  font-weight: bold;
  margin-left: 1rem;
  text-decoration: none;
}

.link {
  text-decoration: none;
  font-size: 1.7rem;
  color: #f25f5c;
  margin: 0 1rem;
}

.link::after {
  position: absolute;
  bottom: 2px;
  content: '';
  width: 10%;
  height: 0.3rem;
  background: #ea5757;
  transform: scale(0, 1);
  transform-origin: center right left;
  transition: transform .3s;
}
.link:hover::after {
  transform: scale(1, 1);
}

.thingsInterestedIn {
  line-height: 4rem;
}

.interest-container {
  box-shadow: -5px 5px pink;
  border: solid 5px #2b59c3
}

.footer-sns li{
  margin: 1rem
}